@model IEnumerable<venerdì.Entities.Article>

@{
    ViewData["Title"] = "Articoli";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card box-shadow">
                <img class="card-img-top" src="~/images/@(item.Id)_cover.jpg" alt="Immagine di copertina" style="height: 200px; object-fit: cover;" onerror="this.src='~/images/default-image.jpg';" />
                <div class="card-body">
                    <h5 class="card-title text-center">@item.Name</h5>
                    <p class="card-text text-center">@item.Price €</p>
                    <div class="text-center">
                        <a asp-action="ReadById" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Visualizza articolo</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center mt-4">
    <a asp-action="Write" class="btn btn-primary">Crea nuovo articolo</a>
</div>
