@model IEnumerable<ProgettoSettimanale.Models.Camera>

<h2 class="mb-4">Camere</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Numero</th>
                <th>Descrizione</th>
                <th>Tipologia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var camera in Model)
            {
                <tr>
                    <td>@camera.Id</td>
                    <td>@camera.Numero</td>
                    <td>@camera.Descrizione</td>
                    <td>@camera.Tipologia</td>
                </tr>
            }
        </tbody>
    </table>
</div>
