<div class="container text-center d-flex flex-column align-items-center my-5">
    <h2 class="mb-4">Scegli cosa fare</h2>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Camere</h3>
                    <a class="btn btn-primary mt-auto" asp-area="" asp-controller="Creazioni" asp-action="CreaCamera">Crea Camera</a>
                    <a class="btn btn-secondary mt-2" asp-area="" asp-controller="Visualizzazioni" asp-action="ListaCamere">Visualizza Camere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Persone</h3>
                    <a class="btn btn-primary mt-auto" asp-area="" asp-controller="Creazioni" asp-action="CreaPersona">Crea Cliente</a>
                    <a class="btn btn-secondary mt-2" asp-area="" asp-controller="Visualizzazioni" asp-action="ListaPersone">Visualizza Clienti</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Prenotazioni</h3>
                    <a class="btn btn-primary mt-auto" asp-area="" asp-controller="Creazioni" asp-action="CreaPrenotazione">Crea Prenotazione</a>
                    <a class="btn btn-secondary mt-2" asp-area="" asp-controller="Visualizzazioni" asp-action="ListaPrenotazioni">Visualizza Prenotazioni</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">Ricerche</h3>
                    <a class="btn btn-primary mt-auto" asp-area="" asp-controller="Ricerche" asp-action="RicercaCF">Ricerca dal CF</a>
                    <a class="btn btn-secondary mt-2" asp-area="" asp-controller="Ricerche" asp-action="RicercaTipoPensione">Ricerca dal Tipo Pensione</a>
                </div>
            </div>
        </div>
    </div>
</div>