@model ProgettoSettimanale.Models.Ricerca.AddServizioRicerca

@{
    ViewData["Title"] = "Aggiungi Servizio Aggiuntivo";
    var servizi = ViewBag.servizi as List<Servizio>;
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form asp-action="AddServizio" method="post">
        <div class="form-group">
            <label asp-for="PrenotazioneId" class="control-label">Servizio Aggiuntivo</label>
            <select asp-for="PrenotazioneId" class="form-control">
                <option value="">Seleziona un servizio</option>
                @foreach (var servizio in servizi)
                {
                    <option value="@servizio.Id">@servizio.Nome</option>
                }
            </select>
            <span asp-validation-for="PrenotazioneId" class="text-danger fw-bold"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data" class="control-label"></label>
            <input asp-for="Data" class="form-control" type="date" />
            <span asp-validation-for="Data" class="text-danger fw-bold"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantita" class="control-label"></label>
            <input asp-for="Quantita" class="form-control" />
            <span asp-validation-for="Quantita" class="text-danger fw-bold"></span>
        </div>

        <div class="form-group">
            <label asp-for="Prezzo" class="control-label">Prezzo (x quantità)</label>
            <input asp-for="Prezzo" class="form-control" />
            <span asp-validation-for="Prezzo" class="text-danger fw-bold"></span>
        </div>

        <input type="hidden" asp-for="PrenotazioneId" />

        <div class="form-group centerbtn">
            <button type="submit" class="btns btn-primary">Aggiungi Servizio</button>
        </div>
    </form>
</div>

